<div class="flex flex-col gap-y-10">
  <div>
    <h1 class="h1"><%= Link.model_name.human(count: 0) %></h1>
  </div>

  <div class="w-1/2">
    <%= render 'link_to_new' %>
  </div>

  <div>
    <%= turbo_stream_from :links %>
    <%= render 'links', links: @links %>
  </div>
</div>

