<div class="flex justify-between mb-10">
  <h1 class="h1"><%= t('link.actions.new') %></h1>
  <%= link_to t('shared.actions.back_to_list'), root_path, class: 'shy-link' %>
</div>

<%= render 'form', link: @link %>
